svg {
  width: 90%;
  height: 90%;
}

svg path {
  transition: transform 0.2s ease-in-out;
  z-index: 1;
  position: relative;
}
svg path:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  z-index: 999;
}
