.detailed-page {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.detailed-page-left {
  width: 25%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailed-container {
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 90%;
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailed-container svg {
  background-color: white;
  width: 90%;
}

.detailed-container .detailed-map {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
  border-radius: 5px 5px 0 0;
}

.detailed-container .detailed-summary {
  height: 40%;
}

.detailed-container p {
  margin: 1vh;
  color: white;
  text-align: justify;
}
.detailed-page-right {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.detailed-page-right h1 {
  text-align: left;
  color: var(--primary-color);
  width: 95%;
  font-size: 3rem;
}

.category {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.category-header {
  padding: 10px;
  background-color: var(--secondary-color);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.category-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.category-content.open {
  max-height: 200px; /* Adjust the desired max-height value */
}

.summary-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.summary-item {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 25px;
  width: 15%;
  aspect-ratio: 1/1; /* Ratio pour maintenir la hauteur égale à la largeur */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
